@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F7F8F9;
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    m-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 5%;
        background-color: white;
        position: relative;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2.5% 10%;
    }
}

@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background-color: white;
        position: relative;
    }

    m-nav {
        display: none;
    }

    .content-wrapper {
        margin-top: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2.5% 10%;
    }
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.m-nav-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.m-nav-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}

.nav-left .logo {
    cursor: pointer;
    width: 50px;
    transition: all 0.3s ease 0s;
}

.nav-left .logo:hover {
    opacity: 0.8;
}

.nav-left .vertical-line {
    border-left: 4px solid #F7F8F9;
    height: 45px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 80%;
}

.search input {
    border: unset;
    font-size: large;
    width: 100%;
}

.search .search-icon {
    color: #C5CACD;
    margin-right: 0.8rem;
}

.search input::placeholder {
    color: #C5CACD;
}

.search input:focus {
    outline-width: 0;
}

.nav-right .user-profile {
    font-weight: 600;
    font-size: 1rem;
    color: #646678;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-right .user-profile:hover {
    color: #0088a9;
}

.nav-right .user-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-right .user-photo:hover {
    opacity: 0.8;
}

.content-wrapper .category {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
    flex-basis: 30%
}

h2 {
    margin: 1.2rem 0 1.2rem 0;
    color: #272A43;
}

.content-wrapper .category .ticket-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #f2f8f9;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
}

.content-wrapper .category .ticket-card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    border: 1px solid #cccccc;
}

h3 {
    margin: 1.2rem 0 1.2rem 0;
    color: #646678;
}

.ticket-card .content {
    margin: 0 0 20px 0;
    word-spacing: 1px;
    color: #ABACB6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ticket-card .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}

.card-footer .ticket-owner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    font-size: small;
}

.bg-ME {
    background-color: #35CDFB;
}

.bg-OZ {
    background-color: #3591FB;
}

.bg-AM {
    background-color: #915AFF;
}

.bg-LE {
    background-color: #C335FB;
}

.text-red {
    color: #EF2C40;
}

.text-green {
    color: #4DD86E;
}

.text-purple {
    color: #915AFF;
}

.text-gray {
    color: #B4BBC8;
}